<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <f:metadata>
        <f:viewParam name="id" value="#{ slideshowBean.id}" /> <!--  slideshow id -->
        <f:viewParam name="index" value="#{ slideshowBean.index}" /> <!--  slide index -->
        <f:viewAction action="#{ slideshowBean.load }" /> <!-- load the slideshow and the slide -->
    </f:metadata>
    
<h:head>
    <title>Slideshow</title>
    <h:outputStylesheet name="css/reset.css" />
    <h:outputStylesheet name="css/slideshow.css" />
</h:head>
<body>
    <div class="container">
        <div class="slideshow">
            <h1 class="slideshow__title">#{ slideshowBean.slideshow.title }</h1>
            
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1"
                class="slideshow__slide"
                viewport="0 0 #{ slideshowBean.slideshow.width } #{ slideshowBean.slideshow.height }"
                xmlns:xlink="http://www.w3.org/1999/xlink">
                
                <ui:repeat value="#{ slideshowBean.slide.slideElements}" var="e">
                    <h:outputText value="#{slideshowBean.generateHTMLMarkupForSlideElement(e)}" escape="false"/>
                </ui:repeat>
            </svg>

            </div>
        </div>
        
            <div class="slideshow__hud">
                <h:link class="slideshow__hud__link slideshow__hud__link--hidden"
                        outcome="/slideshow-jsf/slideshow"
                        value="previous"
                        rendered="#{ slideshowBean.index le 0}">
                       <f:param name="id" value="#{ slideshowBean.slideshow.id }"/>
                       <f:param name="index" value="#{ slideshowBean.index - 1 }"/>
                </h:link>
                
                <h:link class="slideshow__hud__link"
                        outcome="/slideshow-jsf/slideshow"
                        value="previous"
                        rendered="#{ slideshowBean.index gt 0}">
                       <f:param name="id" value="#{ slideshowBean.slideshow.id }"/>
                       <f:param name="index" value="#{ slideshowBean.index - 1 }"/>
                </h:link>
                
                <h:link class="slideshow__hud__link slideshow__hud__link--hidden"
                        outcome="/slideshow-jsf/slideshow"
                        value="next"
                        rendered="#{ slideshowBean.index ge (slideshowBean.slideshow.size() - 1) }">
                       <f:param name="id" value="#{ slideshowBean.slideshow.id }"/>
                       <f:param name="index" value="#{ slideshowBean.index - 1 }"/>
                </h:link>
                
                <h:link class="slideshow__hud__link"
                        outcome="/slideshow-jsf/slideshow"
                        value="next"
                        rendered="#{ slideshowBean.index lt slideshowBean.slideshow.size() - 1 }">
                       <f:param name="id" value="#{ slideshowBean.slideshow.id }"/>
                       <f:param name="index" value="#{ slideshowBean.index + 1 }"/>
                </h:link>

                <p class="slideshow__hud__index">#{ slideshowBean.index + 1 }/ #{ slideshowBean.slideshow.size() }</p>
                                
            </div>

</body>
</html>