<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Slideshows</title>
    <h:outputStylesheet name="css/slideshow-list.css" />
</h:head>
<body>
<p>Les slideshow disponibles</p>
<div class="slideshow-gallery">
<ui:repeat value="#{slideshowListBean.slideshows}" 
           var="slideshow"
           varStatus="myVarStatus">
    <h:link outcome="/slideshow-jsf/slideshow" class="slideshow-gallery__item">
        <f:param name="id" value="#{slideshow.id}" />
        <img class="slideshow-gallery__item__image" src="/javaee7/img?img=#{slideshowListBean.slideshowThumbnails[myVarStatus.index] }" alt="" />
        <p class="slideshow-gallery__item__title">#{ slideshow.title}</p>
    </h:link>
<!-- 	<a href="" class="slideshow-gallery__item">
	    <img class="slideshow-gallery__item__image" src="http://vignette3.wikia.nocookie.net/onepiece/images/1/10/Hand_Island_Infobox.png/revision/latest?cb=20140916180507" alt="" />
	    <p class="slideshow-gallery__item__title">#{ slideshow.title}</p>
    </a> -->
</ui:repeat>  
</div>
</body>
</html>