<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title>All films</title>
</head>
<body>
<h1>All Films</h1>

<h:dataTable value="#{ filmListBean.films }" var="film">
    <h:column>
        <f:facet name="header">id</f:facet>
        #{ film.id }
    </h:column>
    <h:column>
        <f:facet name="header">title</f:facet>
        <h:link value="#{ film.title }" outcome="/jsf/film-detail">
            <f:param name="id" value="#{ film.id}" />
        </h:link>
    </h:column>
</h:dataTable>

</body>
</html>