<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
    <f:metadata>
        <f:viewParam name="id" value="#{ filmDetailBean.id}" /> <!--  pour récupérer la queryString -->
        <f:viewAction action="#{ filmDetailBean.loadFilm }" /> <!-- pour exécuter du code dans phase Invoke Application -->
    </f:metadata>
	
<head>
<title>All films</title>
</head>
<body>
<h1>Film Detail</h1>

<h2>#{ filmDetailBean.film.title }</h2>

</body>
</html>