<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title>Guess a number</title>
</head>
<body>
<!-- <form action="url???" method="POST">
    <label for="number">Enter a number between 1 and 10</label>
    <input id="number" type="text">
    <input type="submit">
</form> -->

	<h:form>
	   <h:outputLabel for="number">Enter a number between 1 and 10</h:outputLabel>
	   <h:inputText  id="number" 
		             label="number to guess"
		             value="#{ guessBean.number }">
			<f:validateLongRange minimum="1" maximum="10" />
		</h:inputText>
		<h:commandButton value="Guess" action="#{ guessBean.guess }" />
	</h:form>
	
	<h:messages />
	
	<h:panelGroup rendered="#{guessBean.postback}">
		<h:outputText value="Perdu, essayer encore" rendered="#{not guessBean.success}"/>
		<h:outputText value="Gagné" rendered="#{ guessBean.success}"/>
	</h:panelGroup>
</body>
</html>